* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #009688;
  width: 100%;
  height: 15vh;
}

h1 {
  text-align: center;
}

main {
  background-color: #d8dbd6;
  width: 100%;
  height: 85vh;
}

.whatsapp {
  width: 95vh;
  margin: 0 auto;
  position: relative;
  bottom: 1.5rem;
  right: 3rem;
}

.img {
  height: 100%;
  width: 80vh;
  background-image: url(../img/mine.jpg);
  color: black;
}

.col-4 {
  background-color: #ffffff;
  color: black;
  overflow: auto;
  height: 80vh;
}

.col-8 {
  height: 80vh;
  overflow: auto;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.icons {
  color: #b1b1b1;
}

.advice {
  background-color: #8edafc;
}

.chatlist img {
  width: 3rem;
  border-radius: 30px;
}

.mexbox {
  background-color: #f3eeea;
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0px;
}

.currentchat {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sent {
  background-color: #d5f9ba;
  color: black;
  width: 50%;
  border-radius: 10px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 15px;
}

.received {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  width: 50%;
  border-radius: 15px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 15px;
}
