* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #009688;
  width: 100%;
  height: 15vh;
}

h1 {
  text-align: center;
}

main {
  background-color: #d8dbd6;
  width: 100%;
  height: 85vh;
}

.whatsapp {
  width: 95vh;
  margin: 0 auto;
  position: relative;
  bottom: 1.5rem;
}

.img {
  height: 80vh;
  width: 80vh;
  background-image: url(../img/mine.jpg);
  color: black;
}

.col-7 {
  background-color: #ffffff;
  color: black;
  overflow: auto;
  height: 80vh;
}

.col-5 {
  height: 80vh;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.icons {
  color: #b1b1b1;
}

.advice {
  background-color: #8edafc;
}

.chatlist img {
  width: 4rem;
  border-radius: 30px;
}
